@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

body{
    margin: 0px;
}
.cardLogin{
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 6% 26%;
    box-shadow: 10px grey;
}
.left{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 10px 10px 0px;
    height: 432px;
    padding: 20px;
    background-color: #fe4638;
    text-align: center;
    width: 50%;
    box-shadow: 10px grey;
}
.left input{
    background-color: transparent;
    padding: 20px 40px;
    border-radius: 20px;
}
.left button{
    margin: 20px;
    border-color: white;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 20px;
}
.left h1{
    margin: 20px;
    color: white;
    font-size: 40px;
}
.left a{
    text-decoration: none;
}
.left button{
    color: white;
}
.left p{
    color: white;
}
.left div{
    margin: 28% 0px;
}
.right{
    height: 432px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    background-color: #fefdfe;
    text-align: center;
    width: 50%;
}
.right a{
    color: black;
    text-decoration: none;
}
.right div{
   display: flex;
   justify-content: center;
}
.right input[type='email']{
    padding: 20px 50px;
}
.right input[type='password']{
    margin: 20px; padding: 20px 50px;
}

@media (max-width:380px) {
    .cardLogin{
        justify-content: center;
        margin: 6% 0%;
        flex-wrap: wrap;
    }
    .left{
        border-radius: 10px 10px 10px 10px;
        margin: 31px 0px;
    }
    .right{
        border-radius: 10px 10px 10px 10px;
    }
    .right input[type='text'] {
        margin: 5px;
        padding: 20px 0px;
    }
    .right input[type='email'] {
        padding: 20px 0px;
    }
    .right input[type='password'] {
        margin: 5px;
        padding: 20px 0px;
    }

    
}

@media (min-width:381px) and (max-width:576px) {
    .cardLogin{
        justify-content: center;
        margin: 6% 0%;
        flex-wrap: wrap;
    }
    .left{
        border-radius: 10px 10px 10px 10px;
        margin: 31px 0px;
    }
    .right{
        border-radius: 10px 10px 10px 10px;
    }
    .right input[type='text'] {
        margin: 20px;
        padding: 20px 40px;
    }
    .right input[type='email'] {
        padding: 20px 40px;
    }
    .right input[type='password'] {
        margin: 20px;
        padding: 20px 40px;
    }
    
}

@media (min-width:577px) and (max-width:768px) {
    body{
        height: 876px;
    }
    .right p{
        margin: 0px 10px;
    }
    .cardLogin{
        margin: 6% 6%;
    }
    .right input[type='text'] {
        margin: 20px;
        padding: 20px 38PX;
    }
    .right input[type='email'] {
        padding: 20px 38PX;
    }
    .right input[type='password'] {
        margin: 20px;
        padding: 20px 38PX;
    }   
}

@media (min-width:769px) and (max-width:992px) {
    body{
        height: 876px;
    }
    .cardLogin{
        justify-content: center;
        margin: 6% 10%;
    }
    .right input[type='text'] {
        margin: 10px;
        padding: 21px 40PX;
    }
    .right input[type='email'] {
        padding: 18PX 38PX;
    }
    .right input[type='password'] {
        margin: 22px;
        padding: 20px 38PX;
    }
    
}

@media (min-width:993px) and (max-width:1200px) {
    body{
        height: 876px;
    }
    .cardLogin{
        justify-content: center;
        margin: 6% 10%;
        
    }
    .right input[type='text'] {
        margin: 21px;
        padding: 21px 40PX;
    }
    .right input[type='email'] {
        padding: 20PX 38PX;
    }
    .right input[type='password'] {
        margin: 22px;
        padding: 21px 38PX;
    }
    
}

@media (min-width:1201px) and (max-width:1400px) {
    .cardLogin{
        justify-content: center;
        margin: 6% 10%;
    }
    .right input[type='text'] {
        margin: 22px;
        padding: 20px 40PX;
    }
    .right input[type='email'] {
        margin: 22px;
        padding: 20PX 38PX;
    }
    .right input[type='password'] {
        margin: 20px;
        padding: 20px 38PX;
    }
    
}